var config = {
  servers: [
    {
      name: 'Server 1',
      server: {
        url: 'http://192.168.99.100',
        port: 2000
      },
      api: {
        url: 'http://192.168.99.100',
        port: 8000
      }
    },
    {
      name: 'Server 2',
      server: {
        url: 'http://192.168.99.100',
        port: 2001
      },
      api: {
        url: 'http://192.168.99.100',
        port: 8001
      }
    },
    {
      name: 'Server 3',
      server: {
        url: 'http://192.168.99.100',
        port: 2002
      },
      api: {
        url: 'http://192.168.99.100',
        port: 8002
      }
    }
  ],
  env: 'dev',
  renderLatency: 100,
  showHitbox: true,
  initialCameraPosition: {
    x: 1000,
    y: 1000
  },
  tickRate: 30,
  tiles: {
    count: {
      x: 50,
      y: 50
    },
    size: {
      x: 32,
      y: 32
    }
  },
  startingPosition: {
    x: 45*32,
    y: 45*32
  }
};

if (typeof(module) !== 'undefined' && typeof(module.exports) !== 'undefined') { module.exports = config; }